
/* Default look */
.deckcard {
  --fill-color: rgb(146, 123, 156); /* fallback */
}

.deckcard .stack,
.deckcard .header {
  fill: var(--fill-color);
}

/* Property colors */
.deckcard.brown { --fill-color: rgb(156, 104, 104); }
.deckcard.lightblue { --fill-color: lightblue; }
.deckcard.pink { --fill-color: pink; }
.deckcard.orange { --fill-color: orange; }
.deckcard.red { --fill-color: red; }
.deckcard.yellow { --fill-color: yellow; }
.deckcard.green { --fill-color: green; }
.deckcard.darkblue { --fill-color: darkblue; }

/* Special cards */
.deckcard.money { --fill-color: seagreen; }
.deckcard.action { --fill-color: rgb(156, 104, 104); }
/* Wildcard deckcard */
.deckcard.wildcard .header,
.deckcard.deckcard .stack,
.deckcard.deckcard .cardvalue{
    display: none;
}



/* Genegeral Card Styling */

.frontcard{
    background-image: url('../assets/card/base.png');
    background-size: cover;
    object-fit: cover;
    width: 14em;
    height: 21em;
    font-family: 'Fredoka';
    color: black;
    border-radius: 1em;

}

.frontcard .value{
    font-size: 3em;
    padding: 0%;
    margin: 0%;
    position: absolute;
}

.value.top{
    top: 0%;
    left: 5%;
}

.value.bottom{
    bottom: 0%;
    right: 10%;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header{

    position: absolute;
    top: 3%;
    width: 78%;
    right: 2%;
    height: 16%;
    z-index: 5;

}

.header .name{
    width: 100%;
    text-align: center;
    padding-left: 5%;
    z-index: 5;
}

.header-main{
    position: relative;
    padding: 0%;
    margin: 0%;
    width: 95%;
    height: 100%;

}

.header svg{
  position: absolute;
  top: -14%;
  z-index: -1;
  right: 0%;
}

.frontcard .sets{
    position: absolute;
    height: 80%;
    left: 10%;
    bottom: -5%;
}

.frontcard svg{
  width: inherit;
  height: inherit;
  padding: 0%;
}

.frontcard .rent{
    position: absolute;
    height: 80%;
    right: 30%;
    bottom: 5%;
}

.rent .value{
    position: relative;
}

.frontcard .main{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0%;
    padding: 0%;


}
.frontcard .main-bg{
    position: absolute;
    width: 90%;
    top: 0%;
    left: 5%;

}

.main .illustration{
    width: 95%;
    position: absolute;
    left: 0%;
    top: 5%;
    z-index: 10;
}

.main .bottom{
    bottom: 8%;
    width: 90%;
    left: 5%;
    position: absolute;
}

.main p{
    position: absolute;
    bottom: 10%;
    color: black;
    width: 70%;
    left: 10%;
}